<div class="col-md-8 col-md-offset-2 ">
	<h1>Training Created by <%= current_user.name%></h1>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 ">
		<h2>Training <%= @training.name %>
			<span class="pull-right"><%= link_to "Edit", edit_trainer_training_path(current_user, @training), class:"btn btn-warning"%> <%= link_to "Back", trainer_trainings_path(current_user, @training), class:'btn btn-danger' %></span>
		</h2>
	</div>
		<div class="col-md-8 col-md-offset-2 well">
			<div class="col-md-4">
				<div class="form-group">
					<strong>name:</strong>
					<%= @training.name %>
					<p><strong>day:</strong>
					<%= @training.day %></p>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="form-group">
					<p>
						<strong>decription:</strong>
						<%= @training.description %>
					</p>
				</div>
			</div>	
		</div>
	</div>		
</div>
