
<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>


<h1>Crear Nuevo Entrenador</h1>

<%= form_for @user do |u| %>
	<%=	u.label :name %>
	<%=	u.text_field :name %>
	<%=	u.label :email %>
	<%=	u.text_field :email %>
	<%=	u.label :password %>
	<%=	u.text_field :password %>
	<%=	u.label :role %>
	<%=	u.text_field :role %>
	
	<%= u.submit "Create Trainer" %>

<% end %>

<%= link_to "Volver a listado", users_path%>