
<h1>Bienvenido <%= @user.name %></h1>

<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>
 
<p>
  <strong>role:</strong>
  <%= @user.role %>
</p>
<p>
  <strong>id:</strong>
  <%= @user.id %>
</p>




<%= link_to "New Training", new_user_training_path(@user.id) %></br>
<%= link_to "View Trainings", user_trainings_path(@user.id)%></br>

<%= link_to "New Athlete", new_user_path(@user.id) %></br>
<%= link_to "View Athletes" %></br>
