<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Athlete <%= @athlete.name %></h1>

		<p>
			<strong>name:</strong>
			<%= @athlete.name %>
		</p>

		<p>
			<strong>email:</strong>
			<%= @athlete.email %>
		</p>

		<p>
			<strong>weight:</strong>
			<%= @athlete.weight %>
		</p>
		<p>
			<strong>fat:</strong>
			<%= @athlete.fat %>
		</p> 	 	
		<p>
			<strong>muscle:</strong>
			<%= @athlete.muscle %>
		</p> 
		<p>
			<strong>sport:</strong>
			<%= @athlete.sport %>
		</p>
	</div>
</div>
