<h1> Create New Athlete</h1>

<%= form_for @user do |u| %>
	<%=	u.label :name %>
	<%=	u.text_field :name %>
	<%=	u.label :email %>
	<%=	u.text_field :email %>
	<%=	u.label :password %>
	<%=	u.text_field :password %>
	<%=	u.label :role %>
	<%=	u.text_field :role %>
	<%=	u.label :weight %>
	<%=	u.integer :weight %>
	<%=	u.label :fat %>
	<%=	u.number_field :muscle %>
	<%=	u.label :sport %>
	<%=	u.text_field :role %>
	
	<%= u.submit "Create Athlete" %>
<% end %>



	